# Eat Safe, Love

## Notebook Set Up

In [24]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [25]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [26]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [27]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [28]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [29]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq': 20}}

# Use count_documents to display the number of documents in the result
print("The number of documents with a hygiene score of 20 is:", establishments.count_documents(query))
# Display the first document in the results using pprint
pprint(db.establishments.find_one(query))

The number of documents with a hygiene score of 20 is: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65791aecedd88d3163ed9e73'),
 'geocode': {'latitude': '50.769705', 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [30]:
# Run the query as a list and save the results to a variable
results = list(establishments.find(query))

In [31]:
# Convert the result to a Pandas DataFrame
query_df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(query_df))
# Display the first 10 rows of the DataFrame
query_df.head(10)

Rows in DataFrame:  41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,65791aecedd88d3163ed9e73,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,http://www.eastbourne.gov.uk/foodratings,Customerfirst@eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.27694, 'latitude': '50.769705'}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
1,65791aecedd88d3163eda1f4,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': 1.278721, 'latitude': '51.857536'}",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
2,65791aecedd88d3163eda4fe,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 1.15927, 'latitude': '51.789429'}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
3,65791aecedd88d3163eda6ec,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 0.10202, 'latitude': '50.770885'}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
4,65791aecedd88d3163eda6fb,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 0.101446, 'latitude': '50.770724'}",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
5,65791aecedd88d3163edb09a,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.736349, 'latitude': '51.541448'}",,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
6,65791aecedd88d3163edb2bb,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,http://www.southend.gov.uk,EnvironmentalHealth@southend.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.7121671, 'latitude': '51.53500...",,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
7,65791aededd88d3163edc7e6,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,http://www.rochford.gov.uk,customerservices@rochford.gov.uk,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': 0.602364, 'latitude': '51.591515'}",,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
8,65791aeeedd88d3163edcc2a,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,http://www.sevenoaks.gov.uk/,environmental.health@sevenoaks.gov.uk,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': 0.146449998021126, 'latitude': '...",,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
9,65791aeeedd88d3163edd43c,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,http://www.basildon.gov.uk,ehs@basildon.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.462307, 'latitude': '51.57005'}",,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [36]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': {'$regex': 'London'}, 
         'RatingValue': {'$gte': '4'}}

# Use count_documents to display the number of documents in the result
print("The number of establishments in London with a RatingValue greater than/equal to 4 is:", establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(db.establishments.find_one(query))

The number of establishments in London with a RatingValue greater than/equal to 4 is: 0
None

In [37]:
# Run the query as a list and save the results to a variable
results = list(establishments.find(query))
# Convert the result to a Pandas DataFrame
query_df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(query_df))
# Display the first 10 rows of the DataFrame
query_df.head(10)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [39]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.490142
longitude = 0.08384

query = {'RatingValue': 5,'geocode.latitude': {'$gte': latitude*(1-degree_search),'$lte': latitude*(1+degree_search)},'geocode.longitude': {'$gte': longitude*(1-degree_search),'$lte': longitude*(1+degree_search)}}
fields = {'RatingValue': 1, 'BusinessName': 1,'geocode.latitude':1,'geocode.longitude':1}
sort = [('scores.Hygiene', 1)]

# Capture the results to a variable
results2 = list(db.establishments.find(query,fields).sort(sort))

    
# Use count_documents to display the number of documents in the result
print(f'the number of documents found is {len(results2)}')


# Print the results
pprint(results2)

the number of documents found is 84
[{'BusinessName': 'Ancient and Brave',
  'RatingValue': 5,
  '_id': ObjectId('65791aededd88d3163edc328'),
  'geocode': {'latitude': Decimal128('51.011100769043'),
              'longitude': Decimal128('0.0835950002074242')}},
 {'BusinessName': 'Texaco Service Station',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163ede260'),
  'geocode': {'latitude': Decimal128('51.358485'),
              'longitude': Decimal128('0.0844690000000000')}},
 {'BusinessName': 'Eltham Green School Nursery Ltd',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf0ea'),
  'geocode': {'latitude': Decimal128('51.4484481811523'),
              'longitude': Decimal128('0.0845770016312599')}},
 {'BusinessName': "Gill's eells",
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf106'),
  'geocode': {'latitude': Decimal128('51.4488282'),
              'longitude': Decimal128('0.0844461000000000')}},
 {'BusinessName': 'Monkey Puzzle Eltham',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf143'),
  'geocode': {'latitude': Decimal128('51.4504502'),
              'longitude': Decimal128('0.0842610000000000')}},
 {'BusinessName': 'Codfellas',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf16c'),
  'geocode': {'latitude': Decimal128('51.4503007'),
              'longitude': Decimal128('0.0830596000000000')}},
 {'BusinessName': 'Olive Dining At Eastcote Primary School',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf341'),
  'geocode': {'latitude': Decimal128('51.464023'),
              'longitude': Decimal128('0.0841350000000000')}},
 {'BusinessName': 'The Old Mill',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf7a3'),
  'geocode': {'latitude': Decimal128('51.4817109'),
              'longitude': Decimal128('0.0840959000000000')}},
 {'BusinessName': 'SD News & Mini Market',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf82a'),
  'geocode': {'latitude': Decimal128('51.4827461242676'),
              'longitude': Decimal128('0.0831020027399063')}},
 {'BusinessName': 'East Plumstead Pre School',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf886'),
  'geocode': {'latitude': Decimal128('51.4845542907715'),
              'longitude': Decimal128('0.0836590006947517')}},
 {'BusinessName': 'My Home (Plumstead)',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf8a7'),
  'geocode': {'latitude': Decimal128('51.4860247'),
              'longitude': Decimal128('0.0843422000000000')}},
 {'BusinessName': 'Jhas Catering Services',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf94a'),
  'geocode': {'latitude': Decimal128('51.4900815'),
              'longitude': Decimal128('0.0842824000000000')}},
 {'BusinessName': 'Wilson & Bay Coffee Club',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf94c'),
  'geocode': {'latitude': Decimal128('51.4897501'),
              'longitude': Decimal128('0.0839053000000000')}},
 {'BusinessName': 'Suya Academy Ltd',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf957'),
  'geocode': {'latitude': Decimal128('51.4901495'),
              'longitude': Decimal128('0.0839974000000000')}},
 {'BusinessName': 'Breakfast Club',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163edfa08'),
  'geocode': {'latitude': Decimal128('51.4950485229492'),
              'longitude': Decimal128('0.0835620015859604')}},
 {'BusinessName': 'The Real Deal',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163edfa62'),
  'geocode': {'latitude': Decimal128('51.4978398'),
              'longitude': Decimal128('0.0844204000000000')}},
 {'BusinessName': 'Tasty African Restaurant',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee017a'),
  'geocode': {'latitude': Decimal128('51.541366'),
              'longitude': Decimal128('0.0838450000000000')}},
 {'BusinessName': 'Newbury Centre Filling Station',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0774'),
  'geocode': {'latitude': Decimal128('51.5733'),
              'longitude': Decimal128('0.0843100000000000')}},
 {'BusinessName': 'Greengate SF Connect',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0798'),
  'geocode': {'latitude': Decimal128('51.573905'),
              'longitude': Decimal128('0.0841930000000000')}},
 {'BusinessName': 'Suvai',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee084d'),
  'geocode': {'latitude': Decimal128('51.576945'),
              'longitude': Decimal128('0.0836100000000000')}},
 {'BusinessName': 'K F C',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0c41'),
  'geocode': {'latitude': Decimal128('51.592741'),
              'longitude': Decimal128('0.0838570000000000')}},
 {'BusinessName': 'La Boucherie Kosher',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0c44'),
  'geocode': {'latitude': Decimal128('51.592741'),
              'longitude': Decimal128('0.0838570000000000')}},
 {'BusinessName': 'Babar Saleem',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0c45'),
  'geocode': {'latitude': Decimal128('51.592741'),
              'longitude': Decimal128('0.0838560000000000')}},
 {'BusinessName': 'Epping Forest Foodbank',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee1220'),
  'geocode': {'latitude': Decimal128('51.6479076'),
              'longitude': Decimal128('0.0846616000000000')}},
 {'BusinessName': 'P A Sparks and Sons',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee1228'),
  'geocode': {'latitude': Decimal128('51.64754'),
              'longitude': Decimal128('0.0839980000000000')}},
 {'BusinessName': "Hazel's Kitchen",
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee1867'),
  'geocode': {'latitude': Decimal128('51.7659932'),
              'longitude': Decimal128('0.0835620000000000')}},
 {'BusinessName': 'Buzzee Beez Pre-School Ltd',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee186d'),
  'geocode': {'latitude': Decimal128('51.7671'),
              'longitude': Decimal128('0.0842250000000000')}},
 {'BusinessName': 'Golden Swift Public House',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee186e'),
  'geocode': {'latitude': Decimal128('51.7671'),
              'longitude': Decimal128('0.0842250000000000')}},
 {'BusinessName': 'Limoncello',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edee67'),
  'geocode': {'latitude': Decimal128('51.430663'),
              'longitude': Decimal128('0.0834510000000000')}},
 {'BusinessName': 'The Plumstead Pantry',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf7c1'),
  'geocode': {'latitude': Decimal128('51.4817727'),
              'longitude': Decimal128('0.0837450000000000')}},
 {'BusinessName': 'Brew Station',
  'RatingValue': 5,
  '_id': ObjectId('65791aefedd88d3163edf92e'),
  'geocode': {'latitude': Decimal128('51.4899426'),
              'longitude': Decimal128('0.0846755000000000')}},
 {'BusinessName': 'Way 2 Save',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee000a'),
  'geocode': {'latitude': Decimal128('51.534412'),
              'longitude': Decimal128('0.0840180000000000')}},
 {'BusinessName': 'Sahara Parkside Ltd',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0161'),
  'geocode': {'latitude': Decimal128('51.541715'),
              'longitude': Decimal128('0.0844520000000000')}},
 {'BusinessName': 'Pizza Go Go',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee017b'),
  'geocode': {'latitude': Decimal128('51.541366'),
              'longitude': Decimal128('0.0838450000000000')}},
 {'BusinessName': 'Woodlands Infants and Junior School',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee030e'),
  'geocode': {'latitude': Decimal128('51.549147'),
              'longitude': Decimal128('0.0837540000000000')}},
 {'BusinessName': 'Just 4 Kids Pre-School',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee041d'),
  'geocode': {'latitude': Decimal128('51.55694'),
              'longitude': Decimal128('0.0839650000000000')}},
 {'BusinessName': 'Satt Caterers',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee047a'),
  'geocode': {'latitude': Decimal128('51.560689'),
              'longitude': Decimal128('0.0844680000000000')}},
 {'BusinessName': 'Azad Food Centre',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee048d'),
  'geocode': {'latitude': Decimal128('51.561497'),
              'longitude': Decimal128('0.0845490000000000')}},
 {'BusinessName': 'Aladdins',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee04a1'),
  'geocode': {'latitude': Decimal128('51.560754'),
              'longitude': Decimal128('0.0833750000000000')}},
 {'BusinessName': 'Grilled Peri Peri',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee04a2'),
  'geocode': {'latitude': Decimal128('51.560754'),
              'longitude': Decimal128('0.0833750000000000')}},
 {'BusinessName': 'Dessertz',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0594'),
  'geocode': {'latitude': Decimal128('51.5649211'),
              'longitude': Decimal128('0.0838927000000000')}},
 {'BusinessName': 'Kool Kidze Daycare',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0613'),
  'geocode': {'latitude': Decimal128('51.566577911377'),
              'longitude': Decimal128('0.0835689976811409')}},
 {'BusinessName': 'Russell Lodge',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee069b'),
  'geocode': {'latitude': Decimal128('51.569547'),
              'longitude': Decimal128('0.0839940000000000')}},
 {'BusinessName': 'Banana Leaf',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee077d'),
  'geocode': {'latitude': Decimal128('51.572941'),
              'longitude': Decimal128('0.0837590000000000')}},
 {'BusinessName': 'Day 1 (One)',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee077e'),
  'geocode': {'latitude': Decimal128('51.572941'),
              'longitude': Decimal128('0.0837590000000000')}},
 {'BusinessName': 'Fags & Mags',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0792'),
  'geocode': {'latitude': Decimal128('51.573056'),
              'longitude': Decimal128('0.0833750000000000')}},
 {'BusinessName': 'McDonald’s',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0797'),
  'geocode': {'latitude': Decimal128('51.573905'),
              'longitude': Decimal128('0.0841930000000000')}},
 {'BusinessName': "Vijay's Virasat Ltd",
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee07d0'),
  'geocode': {'latitude': Decimal128('51.574378'),
              'longitude': Decimal128('0.0838970000000000')}},
 {'BusinessName': 'Aldi',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee07d6'),
  'geocode': {'latitude': Decimal128('51.5750684'),
              'longitude': Decimal128('0.0844927000000000')}},
 {'BusinessName': 'Newbury Park Primary School',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0809'),
  'geocode': {'latitude': Decimal128('51.575802'),
              'longitude': Decimal128('0.0842220000000000')}},
 {'BusinessName': "A's Nursery & Softplay Centre",
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0819'),
  'geocode': {'latitude': Decimal128('51.5755201'),
              'longitude': Decimal128('0.0834350000000000')}},
 {'BusinessName': 'Horns Supermarket',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee084f'),
  'geocode': {'latitude': Decimal128('51.576946'),
              'longitude': Decimal128('0.0836100000000000')}},
 {'BusinessName': 'Nisa Local',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee087d'),
  'geocode': {'latitude': Decimal128('51.577906'),
              'longitude': Decimal128('0.0836980000000000')}},
 {'BusinessName': "Bella's Coffee",
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0be8'),
  'geocode': {'latitude': Decimal128('51.5910720825195'),
              'longitude': Decimal128('0.0831310003995895')}},
 {'BusinessName': 'Ruta',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0bf5'),
  'geocode': {'latitude': Decimal128('51.591695'),
              'longitude': Decimal128('0.0835490000000000')}},
 {'BusinessName': 'Quidsaver',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0c3f'),
  'geocode': {'latitude': Decimal128('51.592741'),
              'longitude': Decimal128('0.0838570000000000')}},
 {'BusinessName': 'Pepperman’s Deli',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0c46'),
  'geocode': {'latitude': Decimal128('51.592741'),
              'longitude': Decimal128('0.0838560000000000')}},
 {'BusinessName': 'Adas',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0c68'),
  'geocode': {'latitude': Decimal128('51.593497'),
              'longitude': Decimal128('0.0843680000000000')}},
 {'BusinessName': 'Cakebox',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0c69'),
  'geocode': {'latitude': Decimal128('51.593497'),
              'longitude': Decimal128('0.0843680000000000')}},
 {'BusinessName': 'The Sharod',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0c6a'),
  'geocode': {'latitude': Decimal128('51.593497'),
              'longitude': Decimal128('0.0843680000000000')}},
 {'BusinessName': 'Fireaway Pizza',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0c7b'),
  'geocode': {'latitude': Decimal128('51.5935179'),
              'longitude': Decimal128('0.0842349000000000')}},
 {'BusinessName': 'Super Fags & Mags',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0c88'),
  'geocode': {'latitude': Decimal128('51.5943374633789'),
              'longitude': Decimal128('0.0845799967646599')}},
 {'BusinessName': 'Capricho',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0cab'),
  'geocode': {'latitude': Decimal128('51.5948333740234'),
              'longitude': Decimal128('0.0845009982585907')}},
 {'BusinessName': 'The Old Maypole Public House',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0d84'),
  'geocode': {'latitude': Decimal128('51.601299'),
              'longitude': Decimal128('0.0840310000000000')}},
 {'BusinessName': 'Sellan Food and Wine',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0da3'),
  'geocode': {'latitude': Decimal128('51.602327'),
              'longitude': Decimal128('0.0838770000000000')}},
 {'BusinessName': 'Co-op',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0da5'),
  'geocode': {'latitude': Decimal128('51.602327'),
              'longitude': Decimal128('0.0838770000000000')}},
 {'BusinessName': 'Belmont Lodge',
  'RatingValue': 5,
  '_id': ObjectId('65791af0edd88d3163ee0e78'),
  'geocode': {'latitude': Decimal128('51.607945'),
              'longitude': Decimal128('0.0830220000000000')}},
 {'BusinessName': 'Debden Sports Club',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee11b9'),
  'geocode': {'latitude': Decimal128('51.64233'),
              'longitude': Decimal128('0.0831810000000000')}},
 {'BusinessName': "FABIO's",
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee11f7'),
  'geocode': {'latitude': Decimal128('51.6454943'),
              'longitude': Decimal128('0.0838281000000000')}},
 {'BusinessName': 'Iceland Frozen Foods Plc',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee1227'),
  'geocode': {'latitude': Decimal128('51.64754'),
              'longitude': Decimal128('0.0839980000000000')}},
 {'BusinessName': 'The Broadway Fried Chicken & Pizza',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee1229'),
  'geocode': {'latitude': Decimal128('51.64754'),
              'longitude': Decimal128('0.0839980000000000')}},
 {'BusinessName': 'Freshwaters',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee122b'),
  'geocode': {'latitude': Decimal128('51.64754'),
              'longitude': Decimal128('0.0839980000000000')}},
 {'BusinessName': 'BP Chigwell SF Connect',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee122c'),
  'geocode': {'latitude': Decimal128('51.64754'),
              'longitude': Decimal128('0.0839980000000000')}},
 {'BusinessName': 'T & J Kelly',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee122e'),
  'geocode': {'latitude': Decimal128('51.64754'),
              'longitude': Decimal128('0.0839980000000000')}},
 {'BusinessName': 'Efezade',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee122f'),
  'geocode': {'latitude': Decimal128('51.6475410461426'),
              'longitude': Decimal128('0.0839980021119118')}},
 {'BusinessName': 'Cafe Bengal',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee1236'),
  'geocode': {'latitude': Decimal128('51.648257'),
              'longitude': Decimal128('0.0841180000000000')}},
 {'BusinessName': 'Greggs Bakers',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee1237'),
  'geocode': {'latitude': Decimal128('51.648257'),
              'longitude': Decimal128('0.0841180000000000')}},
 {'BusinessName': 'K & P Fresh Foods Limited',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee1238'),
  'geocode': {'latitude': Decimal128('51.648257'),
              'longitude': Decimal128('0.0841180000000000')}},
 {'BusinessName': 'El Kaz Taverna',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee123a'),
  'geocode': {'latitude': Decimal128('51.648257'),
              'longitude': Decimal128('0.0841180000000000')}},
 {'BusinessName': 'Subway',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee123b'),
  'geocode': {'latitude': Decimal128('51.648257'),
              'longitude': Decimal128('0.0841180000000000')}},
 {'BusinessName': 'Milwards Primary School & Nursery',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee1744'),
  'geocode': {'latitude': Decimal128('51.748113'),
              'longitude': Decimal128('0.0834810000000000')}},
 {'BusinessName': 'Ashlyns Organics Ltd At Jerounds Primary School',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee17b4'),
  'geocode': {'latitude': Decimal128('51.756472'),
              'longitude': Decimal128('0.0831410000000000')}},
 {'BusinessName': 'Cork & Skewer / Wings & Thingz',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee185d'),
  'geocode': {'latitude': Decimal128('51.7659044'),
              'longitude': Decimal128('0.0840072000000000')}},
 {'BusinessName': 'Best One',
  'RatingValue': 5,
  '_id': ObjectId('65791af1edd88d3163ee1862'),
  'geocode': {'latitude': Decimal128('51.7659547'),
              'longitude': Decimal128('0.0837052000000000')}}]

In [40]:
# Convert result to Pandas DataFrame
rating5_df = pd.json_normalize(results2)
rating5_df

,_id,BusinessName,RatingValue,geocode.longitude,geocode.latitude
0,65791aededd88d3163edc328,Ancient and Brave,5,0.0835950002074242,51.011100769043
1,65791aefedd88d3163ede260,Texaco Service Station,5,0.0844690000000000,51.358485
2,65791aefedd88d3163edf0ea,Eltham Green School Nursery Ltd,5,0.0845770016312599,51.4484481811523
3,65791aefedd88d3163edf106,Gill's eells,5,0.0844461000000000,51.4488282
4,65791aefedd88d3163edf143,Monkey Puzzle Eltham,5,0.0842610000000000,51.4504502
...,...,...,...,...,...
79,65791af1edd88d3163ee123b,Subway,5,0.0841180000000000,51.648257
80,65791af1edd88d3163ee1744,Milwards Primary School & Nursery,5,0.0834810000000000,51.748113
81,65791af1edd88d3163ee17b4,Ashlyns Organics Ltd At Jerounds Primary School,5,0.0831410000000000,51.756472
82,65791af1edd88d3163ee185d,Cork & Skewer / Wings & Thingz,5,0.0840072000000000,51.7659044
83,65791af1edd88d3163ee1862,Best One,5,0.0837052000000000,51.7659547

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [42]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match' : {'scores.Hygiene': 0}
              }
# 2. Groups the matches by Local Authority
group_query= {'$group': {'_id': {"local Authority": "$LocalAuthorityName"},
                        'count': { '$sum':1}
                        }
             }               
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count': -1}}

pipeline = [match_query, group_query, sort_values]

results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print(f'the number of documents found is {len(list(results))}')
# Print the first 10 results
pprint(results[0:10])

the number of documents found is 55
[{'_id': {'local Authority': 'Thanet'}, 'count': 1130},
 {'_id': {'local Authority': 'Greenwich'}, 'count': 882},
 {'_id': {'local Authority': 'Maidstone'}, 'count': 713},
 {'_id': {'local Authority': 'Newham'}, 'count': 711},
 {'_id': {'local Authority': 'Swale'}, 'count': 686},
 {'_id': {'local Authority': 'Chelmsford'}, 'count': 680},
 {'_id': {'local Authority': 'Medway'}, 'count': 672},
 {'_id': {'local Authority': 'Bexley'}, 'count': 607},
 {'_id': {'local Authority': 'Southend-On-Sea'}, 'count': 586},
 {'_id': {'local Authority': 'Tendring'}, 'count': 542}]

In [43]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
hygiene_df.count()
# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

   count _id.local Authority
0   1130              Thanet
1    882           Greenwich
2    713           Maidstone
3    711              Newham
4    686               Swale
5    680          Chelmsford
6    672              Medway
7    607              Bexley
8    586     Southend-On-Sea
9    542            Tendring